*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(248, 240, 229);
    position: relative;
    height: 100vh;
    font-family: 'Courier Prime', monospace;
}
.container{
    background: linear-gradient( 30deg ,rgb(145, 152, 229), rgba(236, 87, 241, 0.678), rgb(243, 131, 131) );
    height: 500px;
    width: 800px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

 
/* title */

.title{
    color: white;
    margin: 50px 300px 0px 300px;
    font-size: 50px;
    font-weight: 400;
}
/* forms container */
.user-password-container{
    display: inline-block;
    height: 300px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 20px;
    margin-top: 30px;
    padding: 0px 50px;
}

.username, .pswrd{
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.user-password-container :nth-child(3), :nth-child(6){
    width: 100%;
    padding: 10px 25px;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}

input:focus{
    border-top: 1px solid grey;
    outline: none;
}

#login-button{
    font-family: 'Courier Prime', monospace;
    height: 30px;
    width: 80px;
    border: none;
    margin: 25px 150px;
    border-radius: 10px;
    color: grey;
}

.link{
    font-size: 13px;
}

#no-remember{
    margin-left: 100px;
}